## Pandas 란
* Pasdas : Panel Data System
* 데이터 분석시에 최적화 되어 있고, 데이터 전처리시에 많이 사용함
* 데이터분석 라이브러리로, 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 
  보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구

### Pandas 학습 자료 추천
* **[Pandas 10분 완성 따라 하면서 익히기](https://dataitgirls2.github.io/10minutes2pandas/)**
* **[Pandas Cheat Sheet 익히기](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)**

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df[['c']]
#df[['a','b']]

    c
1  10
2  11
3  12

In [5]:
df.loc[2]

a     5
b     8
c    11
Name: 2, dtype: int64

In [6]:
df.loc[2, 'a']

5

In [7]:
df.loc[[1,2], ['b', 'c']]

   b   c
1  7  10
2  8  11

In [8]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1,2,3],
    columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2)],names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [10]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1,2,3],
    columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [11]:
pd.melt(df)

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12